.container{
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register-link {
    text-align: center;
    margin-top: 1rem;
}
.register-link h2{
    font-weight: 100;
    font-size: 25px;
}